<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>
    <component mid="CastleWindsor_AOP_WCF.TestService" service="CastleWindsor_AOP_WCF.ITestService, CastleWindsor_AOP_WCF" type="CastleWindsor_AOP_WCF.TestService, CastleWindsor_AOP_WCF" lifestyle="transient">
      <interceptors>
        <interceptor>${Logging}</interceptor>
        <interceptor>${Performance}</interceptor>
        <interceptor>${ExceptionHandling}</interceptor>
      </interceptors>
    </component>
    <component id="Logging" type="CastleWindsor_AOP_WCF.Aspects.Logging, CastleWindsor_AOP_WCF" lifestyle="transient" />

    <component id="Performance" type="CastleWindsor_AOP_WCF.Aspects.Performance, CastleWindsor_AOP_WCF" lifestyle="transient" />

    <component id="ExceptionHandling" type="CastleWindsor_AOP_WCF.Aspects.ExceptionHandling, CastleWindsor_AOP_WCF" lifestyle="transient" />


  </components>


</configuration>